      html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
        color: #fff !important;
      }
      #upper{
        height: 40px;
        background-color: #31a72d;
        border-bottom: 4px solid rgba(0,0,0,0.1);
      }
      #upper>img{
        margin-left: 5px;
        margin-top: 2px;
      }
      #padding{
        height: calc(100% - 40px);
      }
      #map-canvas{
        height: 100%;
      }
      h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
        color: #fff;
        padding-left: 41px;
      }
      #bar {
        width: 40px;
        background-color: #37ab2e;
        float: left;
        height: 100%;

        -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
        transition: width 1s;

        overflow: hidden;        
      }
      #bar:hover{
        width: 220px;
      }
      #upper > img {
          height: 32px;
      }
      .category {
        height: 33px;
        width: 38px;
        margin-left: 2px;
        background-repeat: no-repeat;
        float: left;        
      }
      #movilidad {
        background-image: url(/img/movilidad.png);
      }
      #visual {
        background-image: url(/img/visual.png);
      }
      #auditiva {
        background-image: url(/img/auditiva.png);
      }      
      #intelectual {
        background-image: url(/img/intelectual.png);
      }
      h2 {
        font-family: 'Open Sans', sans-serif !important;
        font-weight: bold;
      }
      li{
        font-size: 20px;
        height: 36px;
        overflow: hidden;
        word-break: break-all;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif !important;
      }
      li> i {
        font-size: 32px;
        width: 38px;
        text-align: center;
      }
      li:hover {
        background-color: #57ab2e;
      }
